.button-technic {
    height: 100px;
    width: 100px;
    background-color: darkblue;
    margin: 20px;
}
#debug{
    width: 100px;
    height: 90px;
    background-color: burlywood;
}
.wrap-tech {
    display: flex;
}


.in-contact-with-top {
  border: 40px solid red;
}