.gallery {

}

.gallery::after {
  content: '';
  position: relative;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #030303;
  transform: translateY(18px) scale(2.5);
  filter: blur(35px);
}

.gallery__container {
  height: 2095px;
}

.gallery__wrap-title {
  padding: 73px 0 79px 0;
}

.gallery__title {
  color: #FFF;
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  /* 112.5% */
  letter-spacing: 5px;
  text-transform: uppercase;
}

.gallery__container-images {
  column-count: 3; 
  column-gap: 36px; 
}

.gallery__wrap-image {

}
/* @media(max-width: 1920px) {
  .gallery__wrap-image {
    width: 464px;
  }
}
@media(max-width: 1919px) {
  .gallery__wrap-image {
    width: auto;
  }
} */

/* .gallery__wrap-image:nth-child(1) {
  padding: 52px 0 0 0;
}

.gallery__wrap-image:nth-child(2) {
}

.gallery__wrap-image:nth-child(3) {
  padding: 52px 0 0 0;
}

.gallery__wrap-image:nth-child(4) {
}

.gallery__wrap-image:nth-child(5) {
}

.gallery__wrap-image:nth-child(6) {
}

.gallery__wrap-image:nth-child(7) {
}

.gallery__wrap-image:nth-child(8) {
}

.gallery__wrap-image:nth-child(9) {
}

.gallery__wrap-image:nth-child(10) {
}

.gallery__wrap-image:nth-child(11) {
}

.gallery__wrap-image:nth-child(12) {
}

.gallery__wrap-image:nth-child(13) {
}

.gallery__wrap-image:nth-child(14) {
}

.gallery__wrap-image:nth-child(15) {
} */

/* .gallery__wrap-image:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.gallery__wrap-image:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.gallery__wrap-image:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
.gallery__wrap-image:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
.gallery__wrap-image:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }
.gallery__wrap-image:nth-child(6) { grid-area: 2 / 3 / 3 / 4; }
.gallery__wrap-image:nth-child(7) { grid-area: 3 / 1 / 4 / 2; }
.gallery__wrap-image:nth-child(8) { grid-area: 3 / 2 / 4 / 3; }
.gallery__wrap-image:nth-child(9) { grid-area: 3 / 3 / 4 / 4; }
.gallery__wrap-image:nth-child(10) { grid-area: 4 / 1 / 5 / 2; }
.gallery__wrap-image:nth-child(11) { grid-area: 4 / 2 / 5 / 3; }
.gallery__wrap-image:nth-child(12) { grid-area: 4 / 3 / 5 / 4; }
.gallery__wrap-image:nth-child(13) { grid-area: 5 / 1 / 6 / 2; }
.gallery__wrap-image:nth-child(14) { grid-area: 5 / 2 / 6 / 3; }
.gallery__wrap-image:nth-child(15) { grid-area: 5 / 3 / 6 / 4; }  */


.gallery__image {
  display: inline-block;
  width: 90%;
  margin-bottom: 24px;
  transition: 1s;
  opacity: 0;
}

.unroll {
  width: 100%;
  opacity: 1;
}

.margin-top {
  margin-top: 50px;
}