.video {
}
.video__container {
  padding: 75px 0;
}
.video__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 0 75px 0;
}
.video__title {
white-space: nowrap;
color: #9D8665;
padding: 0 115px 0 0;
}
.title-section {
}
.video__about {
  font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 38px;
color: #000000;
}
.video__wrap-video {
}
.video__main-video {
  position: relative;
}
.video__player-wrap{
  position: relative;
  overflow: hidden;
}
.video__player{
  width: 100%;
}
.video__controll-pannel {
  position:absolute;
  bottom: -80px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items:center;
  width: 100%;
  height: 85px;
  background-color: #000000;
  /* transition-delay: 1s; */
  transition-duration: 1s;
}
.video__player-wrap:hover .video__controll-pannel{
  
}
.controll-pannel__play {
  width: 23px;
  height: 31px;
  margin: 0 50px 0 30px;
}
.controll-pannel__progress-time {
  display: flex;
  flex-direction: row;
  align-items:center;
  height: 8px;
  width: 100%;
  background-color: #C4C4C4;
}
.controll-pannel__passed-time {
  height: 8px;
  width: 0px;
  background: #710707;
}
.controll-pannel__dot{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFFFFF;
}
.controll-pannel__volume {
  width: 38px;
  height: 31px;
  margin: 0 50px;
}
.controll-pannel__progress-volume {
  display: flex;
  flex-direction: row;
  align-items:center;
  height: 8px;
  width: 155px;
  background-color: #C4C4C4;
  margin: 0 50px 0 0;
}
.controll-pannel__passed_volume {
  height: 8px;
  width: 0px;
  background: #710707;
}

.controll-pannel__wrap-screen{
  position:relative;
}


.controll-pannel__full-screen {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 30px 0 0;
  z-index: 10;
  background-color: #000000;
}
.controll-pannel__wrap-screen:hover .controll-pannel__full-screen{
  z-index: 8;
}
.controll-pannel__full-screen-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  margin: 0 30px 0 0;
  z-index: 9;
  background-color: #000000;
}



.video__list-video {
}

#player{
  display: none;
}

#button{
  width:300px;
  height:100px;
  background-color: rgb(215, 54, 255);
}

#video{
}
