.video {}

.video__container {
  padding: 75px 0;
}

@media(max-width:1495px) {
  .video__container {
    margin: 0px 20px 0px 20px;
  }
}
@media(max-width:1240px) {
  .video__container {
    padding: 60px 0;
  }
}

.video__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 0 75px 0;
}
@media(max-width:1240px) {
  .video__info{
    padding: 0px 0px 40px 0px;
  }
}

.video__title {
  white-space: nowrap;
  color: #9D8665;
  padding: 0 115px 0 0;
}

@media(max-width:1240px) {
  .video__title {
    padding: 0px 0px 0px 0px;
  }
}

.title-section {}

.video__about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #000000;
}

@media(max-width:1495px) {
  .video__about {
    display: none;
  }
}

.video__wrap-video {
  user-select: none;
}

.video__main-video {
  position: relative;
}

.video__player-wrap {
  position: relative;
  overflow: hidden;
}

.video__player {
  position: relative;
  width: 100%;
}

.video__circle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  border: 9px #FFFFFF solid;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
}

@media(max-width:1240px) {
  .video__circle-icon {
    width: 152px;
  height: 152px;
  border: 6px #FFFFFF solid;
  }
}

.video__speed-cooficent {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-size: 80px;
}

.video__big-icon-play {
  padding: 0 0 0 13px;
}
@media(max-width:1240px) {
  .video__big-icon-play {
    width: 78px;
  }
}

.video__controll-pannel {
  position: absolute;
  bottom: -80px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: #000000;
  transition-duration: 1s;
  z-index: 5;
}

@media(max-width:1240px) {
  .video__controll-pannel {
    bottom: -55px;
    height: 60px;
  }
}

.controll-pannel__play-wrap {
  position: relative;
}

.controll-pannel__play {
  position: relative;
  width: 22px;
  height: 30px;
  margin: 0 50px 0 30px;
  background-color: #000000;
  z-index: 10;
}

@media(max-width:1240px) {
  .controll-pannel__play {
    margin: 0 40px 0 30px;
  }
}

.controll-pannel__pause {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 30px;
  margin: 0 50px 0 30px;
  background-color: #000000;
  z-index: 9;
}

@media(max-width:1240px) {
  .controll-pannel__pause {
    margin: 0 40px 0 30px;
  }
}

.controll-pannel__progress-time {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8px;
  width: 100%;
  background-color: #C4C4C4;
}

@media(max-width:1240px) {
  .controll-pannel__progress-time {
    height: 5px;
  }
}

.controll-pannel__passed-time {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 0px;
  background: #710707;
}

@media(max-width:1240px) {
  .controll-pannel__passed-time {
    height: 5px;
  }
}

.controll-pannel__dot {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: right;
  background: #FFFFFF;
  margin: -3.5px -10px 0 0;
  pointer-events: none;
}

@media(max-width:1240px) {
  .controll-pannel__dot {
    width: 13px;
    height: 13px;
  }
}

.controll-pannel__wrap-volume {
  position: relative;
  user-select: none;
}

.controll-pannel__volume {
  position: relative;
  width: 38px;
  height: 31px;
  margin: 0 50px;
  background-color: #000000;
  z-index: 10;
}

@media(max-width:1240px) {
  .controll-pannel__volume {
    width: 26px;
    height: 20px;
    margin: 0 30px;
  }
}

.controll-pannel__volume-mute {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 31px;
  margin: 0 50px;
  background-color: #000000;
  z-index: 9;
}

@media(max-width:1240px) {
  .controll-pannel__volume-mute {
    width: 26px;
    height: 20px;
    margin: 0 30px;
  }
}

.controll-pannel__progress-volume {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8px;
  width: 155px;
  background-color: #C4C4C4;
  margin: 0 50px 0 0;
}

@media(max-width:1240px) {
  .controll-pannel__progress-volume {
    height: 5px;
  }
}

.controll-pannel__passed_volume {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 104px;
  background: #710707;
}

@media(max-width:1240px) {
  .controll-pannel__passed_volume {
    height: 5px;
  }
}

.controll-pannel__wrap-screen {
  position: relative;
}

.controll-pannel__full-screen-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  margin: 0 30px 0 0;
  z-index: 7;
  background-color: #000000;
}

@media(max-width:1240px) {
  .controll-pannel__full-screen-exit  {
    width: 26px;
    height: 26px;
    margin: 0 40px 0 0;
  }
}

.controll-pannel__full-screen {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 30px 0 0;
  z-index: 10;
  background-color: #000000;
}

@media(max-width:1240px) {
  .controll-pannel__full-screen   {
    width: 26px;
    height: 26px;
    margin: 0 40px 0 0;
  }
}

.controll-pannel__wrap-screen:hover .controll-pannel__full-screen {
  z-index: 8;
}

.controll-pannel__full-screen-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  margin: 0 30px 0 0;
  z-index: 9;
  background-color: #000000;
}

@media(max-width:1240px) {
  .controll-pannel__full-screen-hover {
    width: 26px;
    height: 26px;
    margin: 0 40px 0 0;
  }
}

.video__slider-video {
  display: flex;
  flex-direction: column;
}

.video__list-video {
  display: flex;
  margin: 40px 0px;
  width: 100%;

}

.video__list-video_2 {
  position: absolute;
  display: flex;
  margin: 40px 0px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #aaff21;
  display: none;
}

.video__mover {
  position: relative;
  right: 0;
  overflow: hidden;
}

.video__you-tube {
  position: relative;
  right: 0px;
  left: unset;
  width: 452px;
  height: 254px;
  background-color: #C4C4C4;
  margin: 0 42px 0 0;
  flex-shrink: 0;
  transition-duration: 1s;
}

.video__you-tube:hover {
  cursor: pointer;
}

.video__cover-play-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 51px;
  height: 40px;
  background-color: antiquewhite;
  opacity: 0;
  z-index: 3;
}

/* @media(max-width:1240px) {
  .video__cover-play-button {
    opacity: 0.5;
  }
} */


.video__shroud {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 159px;
  background-color: #999999;
  opacity: 0;
  z-index: 5;
}

.video__player {
  position: relative;
  z-index: 2;
}

.video__cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.video__dots-item {
  display: flex;
  align-self: center;
}

.video__darrows-L {
  margin: 0 20px 0 0;
}

.video__darrows-L:hover {
  cursor: pointer;
}

.video__darrows-R {
  display: block;
}

.video__darrows-R:hover {
  cursor: pointer;
}

.video__dot {
  width: 12px;
  height: 12px;
  background-color: #999999;
  border-radius: 50%;
  margin: 0 20px 0 0;
}

.video__dot:hover {
  cursor: pointer;
}

.video__dot:hover {
  background: #710707;
  cursor: pointer;
}

#player {
  display: none;
}

#video {}

#log {
  width: 300px;
  height: 90px;
  background-color: #0fe1f0;
  font-size: 50px;
}




/* .video__subwrap {
  position: relative;
  width: 100%;
  height: 100%;
} */