.tickets {
  position: relative;
  z-index: 2;
  color: #000;
}

.tickets__container {
  padding: 0 20px 75px 20px;
}

@media(max-width:1100px) {
  .tickets__container {
    padding: 0 20px 60px 20px;
  }
}

._container {}

.tickets__wrap-title {
  padding: 75px 0 71px 0;
}

@media(max-width:1100px) {
  .tickets__wrap-title {
    padding: 52px 0 56px 0;
  }
}

@media(max-width:800px) {
  .tickets__wrap-title {
    padding: 24px 0 56px 0;
  }
}

@media(max-width:500px) {
  .tickets__wrap-title {
    padding: 16px 0 30px 0;
  }
}

.tickets__wrap-title::after {
  content: '';
  display: inline-block;
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #710707;
  margin: 26px 0 0 0;
}

@media(max-width:1100px) {
  .tickets__wrap-title::after {
    margin: 13px 0 0 0;
  }
}


@media(max-width:800px) {
  .tickets__wrap-title::after {
    margin: 0px 0 6px 0;
  }
}

.tickets__title {
  color: #9D8665;
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  /* 112.5% */
  letter-spacing: 5px;
  text-transform: uppercase;
}

@media(max-width:1100px) {
  .tickets__title {
    font-size: 50px;
  }
}

@media(max-width:800px) {
  .tickets__title {
    font-size: 40px;
  }
}

@media(max-width:500px) {
  .tickets__title {
    font-size: 28px;
    margin: 0 0 -12px 0;
  }
}

.tickets__wrap-order {
  display: flex;
}

@media(max-width:1305px) {
  .tickets__wrap-order {
    justify-content: space-between;
  }
}

@media(max-width:675px) {
  .tickets__wrap-order {
    flex-direction: column;
  }
}

.tickets__container-picture {
  padding: 0 60px 0 0;
}

@media(max-width:1100px) {
  .tickets__container-picture {
    padding: 0 0px 0 0;
  }
}

@media(max-width:675px) {
  .tickets__container-picture {
    padding: 0 0px 40px 0;
  }
}

.tickets__image {}

.tickets__image:nth-child(1) {}

.tickets__image:nth-child(2) {
  display: none;
}

.tickets__image:nth-child(3) {
  display: none;
}

.tickets__image:nth-child(4) {
  display: none;
}

@media(max-width:1024px) {
  .tickets__image:nth-child(1) {
    display: none;
  }

  .tickets__image:nth-child(2) {
    display: inline-block;
  }

  .tickets__image:nth-child(3) {
    display: none;
  }

  .tickets__image:nth-child(4) {
    display: none;
  }
}

@media(max-width:995px) {
  .tickets__image:nth-child(1) {
    display: none;
  }

  .tickets__image:nth-child(2) {
    display: none;
  }

  .tickets__image:nth-child(3) {
    display: inline-block;
  }

  .tickets__image:nth-child(4) {
    display: none;
  }
}

@media(max-width:675px) {
  .tickets__image:nth-child(3) {
    width: 100%;
  }

}

@media(max-width:500px) {
  .tickets__image:nth-child(1) {
    display: none;
  }

  .tickets__image:nth-child(2) {
    display: none;
  }

  .tickets__image:nth-child(3) {
    display: none;
  }

  .tickets__image:nth-child(4) {
    display: inline-block;
    width: 100%;
  }
}

.tickets__container-order {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media(max-width:1100px) {
  .tickets__container-order {
    padding: 0 29px 0 0;
    width: initial;
  }
}

@media(max-width:715px) {
  .tickets__container-order {
    padding: 0;
  }
}

@media(max-width:675px) {
  .tickets__container-order {
    justify-content: center;
  }
}

.tickets__type-ticket {}

@media(max-width:1305px) {
  .tickets__type-ticket {
    display: none;
  }
}

.tickets__name-fieldset_0 {}

.tickets__name-fieldset_1 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media(max-width:1100px) {
  .tickets__name-fieldset_1 {
    align-items: start;
    width: inherit;
    padding: 0 0 0px 0;
  }
}

@media(max-width:675px) {
  .tickets__name-fieldset_1 {
    align-items: center;
  }
}

.tickets__title-fieldset_1 {
  padding: 0 0 24px 0;
}

@media(max-width:1100px) {
  .tickets__title-fieldset_1 {
    padding: 0 0 31px 0;
  }
}

@media(max-width:500px) {
  .tickets__title-fieldset_1 {
    padding: 0 0 20px 0;
  }
}

.tickets__wrap-title-fieldset {
  padding: 0px 0 50px 0;
}

.tickets__title-fieldset_0,
.tickets__title-fieldset_1 {
  color: #000;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media(max-width:500px) {
  .tickets__title-fieldset_0,
  .tickets__title-fieldset_1 {
    font-size: 16px;
  }
}

.tickets__title-fieldset_0 {
  align-self: flex-start;
}

.tickets__wrap-radio {
  padding: 0 0 29px 0;
}

.tickets__subwrap-radio {
  margin: 0px 0 -22px 0;
}

.tickets__radio-input {
  display: inline-block;
  transform: scale(1.3);
  /* Change the value to adjust the size */
}

/* Changing the color of the radio input */
.tickets__radio-input:checked+.tickets__label-style::before {
  background-color: #000;
  /* Change the color to your desired color */
  border-color: #000;
  /* Change the color to your desired color */
}

.tickets__label-style {
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0 0 0 40px;
}

.tickets__wrap-ammount-tickets {}

@media(max-width:1100px) {
  .tickets__wrap-ammount-tickets {
    width: inherit;
  }
}

.tickets__wrap-counter {}

.tickets__wrap-counter:last-child {}

.tickets__mode-limit {
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0 0 15px 0;
}

@media(max-width: 1100px) {
  .tickets__mode-limit {
    padding: 0 0 9px 0;
  }
}

@media(max-width: 500px) {
  .tickets__mode-limit {
font-size: 16px;
padding: 0px 0 15px 0;
  }
}

.tickets__counter-tickets {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 3px solid #000;
  width: 150px;
  height: 50px;
  margin: 0px 0 8px 0;
}

@media(max-width: 1100px) {
  .tickets__counter-tickets {
    margin: 0px 0 29px 0;
    width: 175px;
    height: 49px;
  }
}

@media(max-width: 500px) {
  .tickets__counter-tickets {
   margin: 0px 0 21px 0;
  }
}

.tickets__button {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #ffffff;
  padding: 0 10px;
}

.tickets__number {
  display: inline-block;
  text-align: center;
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 40px;
}

.tickets__total-price {
  color: #000;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.65px;
  padding: 44px 0px 59px 25px;
}

@media(max-width:1100px) {
  .tickets__total-price {
    padding: 0px 0px 69px 0px;
    margin: -4px 0 0 0;
  }
}

@media(max-width:500px) {
  .tickets__total-price {
    font-size: 14px; 
    text-align: center;
    margin: 0;
    padding: 22px 0px 40px 0px;
  }
}

.tickets__wrap-buy-btn {}

.tickets__btn-buy {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
  width: 175px;
  height: 50px;
  border-radius: 2px;
  background: #000;
}

@media(max-width:500px) {
  .tickets__btn-buy {
    font-size: 16px;
  }
}