.welcome {}

.welcome__container {
  position: relative;
  display: flex;
}
@media(max-width:1446px) {
  .welcome__container{
    padding:0 20px;
  }
}
.welcome__info {
  position: relative;
  display: flex;
  flex: 1 1 440px;
  flex-direction: column;
  background-color: #030303;
  z-index: 1;
}
@media(max-width:1024px){
  .welcome__info {
    flex: 1 1 304px;
  }
}



.welcome__version-1920px{
  position: absolute;
  top: 0;
  left: 0;
  width: 145%;
  transition-duration: 1s;
}
@media(max-width:1024px){
  .welcome__version-1920px{
    width: 185%;
  }
}

.welcome__info-hide-1920{
  transition-duration: 1s;
  transform: translateX(-445px);
}

.welcome__version-1024px{
  transform: translateX(-445px);
  transition-duration: 1s;
}

.welcome__info-show-1024{
  transform: translateX(0px);
  transition-duration: 1s;
}
.welcome__slide-menu {
  padding: 35px 0 0 35px ;
}
.slide-menu {
  
}
.slide-menu__navigation {
  display: flex;
  flex-direction: column;
}
.slide-menu__item {
  position: relative;
  padding: 0 0 25px 0;
}

.slide-menu__link {
  position: relative;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
letter-spacing: 2px;
color: #FFFFFF;
}

.slide-menu__arrow{
  position: absolute;
  top: 41%;
  right: 77px;
  z-index: 5;
}

.slide-menu__arrow::before {
  position: absolute;
  bottom:0;
  right: 0;
  content:'';
  width: 2px;
  height: 9px;
  background-color: #FFFFFF;
  transform: rotate(-45deg);
  margin: 0 0 5px 0;
}

.slide-menu__arrow::after {
  position: absolute;
  bottom:0;
  right: 0;
  content:'';
  width: 2px;
  height: 9px;
  background-color: #FFFFFF;
  transform: rotate(45deg);
  margin: 0 0 0 0;
}

.welcome__version-768px{

}
.welcome__version-420px{

}

.title-white {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media(max-width:1024px){
  .title-white {
    font-size: 50px;
  }
}

.welcome__title {
  padding: 0 0 25px 0;

}

.welcome__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 0 0 75px 0;
}
@media(max-width:1024px){
  .welcome__subtitle {
    font-size: 24px;
  }
}

.welcome__button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  height: 75px;
  width: 360px;
  padding: 0 64px;
  background: #710707;
  border-radius: 10px;
}
@media(max-width:1024px){
  .welcome__button {
    height: 60px;
    width: 300px;
    font-size: 20px;
  line-height: 23px;
  padding: 0 45px;
  white-space: nowrap;
  }
}

.welcome__wrap-gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
  overflow: hidden;
}

.welcome__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 17%;
  height: 100%;
  background-color: #030303;
  transform: translateX(-55px) scale(1.5);
  filter: blur(44px);
  z-index: 1;
}
@media(max-width:1024px){
  .welcome__shadow {
    width: 27%;
    transform: translateX(-113px) scale(1.5);
  }
}

.welcome__gallery {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.welcome__picture {
  display: none;
  position: relative;
  animation: 1s ease-in-out;
  margin: 0 auto;
}
@media(max-width:1446px){
  .welcome__picture{
    width: 100%;
    height: auto;
  }
}
.active,
.next {
  display: block;
  width: 100%;
  height: 100%;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.welcome__control-pannel-swipe {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #030303;
  width: 600px;
  height: 120px;
}
@media(max-width:1024px){
  .welcome__control-pannel-swipe {
    position: relative;
    align-self: flex-end;
    width: 100%;
    margin: -60px 0 0 0;
  }
}
.pannel-swipe {}

.pannel-swipe__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
@media(max-width:1024px){
  .pannel-swipe__wrap{
    justify-content: flex-end;
    margin: 0 75px 0 0;
  }
}
.pannel-swipe__counter {
  display: flex;
  padding: 0 55px 0 0;
}

.pannel-swipe__progress-counter {
  margin: 0 10px 0 0;
}

.pannel-swipe__progress-counter::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 19px;
  width: 2px;
  background-color: #FFFFFF;
  margin: 0 0 0 10px;
}

.pannel-swipe__ammount-counter {
  margin: 0 0 0 12px;
}

.pannel-swipe__grafic-counter {
  display: flex;
  padding: 0 60px 0 0;
}

.pannel-swipe__grafic-item {
  width: 16px;
  height: 16px;
  background: #FFFFFF;
}

.pannel-swipe__grafic-item:hover {
  background-color: #9D8665;
  cursor: pointer;
}

.pannel-swipe__grafic-item:not(:last-child) {
  margin: 0 25px 0 0;
}

.recolor-active {
  background-color: #D2B183;
}

.pannel-swipe__arrows {
  display: flex;
}

.pannel-swipe__wrap-arrow-L {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 24px;
  padding: 0 20px 0 0;
}

.pannel-swipe__wrap-arrow-L:hover {
  cursor: pointer;
}

.pannel-swipe__arrow-left {
  /* display: inline-block; */

}

.pannel-swipe__wrap-arrow-R {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 24px;
}

.pannel-swipe__wrap-arrow-R:hover {
  cursor: pointer;
}

.pannel-swipe__arrow-right {
  /* display: inline-block; */
}

/*-------------------------------- carousel -------------------------------------*/
.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}