.welcome {}

.welcome__container {
  position: relative;
  display: flex;
  height: 100%;
  padding: 0 20px;
}

@media(max-width:1446px) {
  .welcome__container {
    padding: 0 20px;
  }
}

@media(max-width:1024px) {
  .welcome__container {
    flex-direction: column;
    height: 584px;
  }
}

@media(max-width:1023px) {
  .welcome__container {
    height: auto;
  }
}

@media(max-width:768px) {
  .welcome__container {
    margin: -10px 0px 0px 0px;
  }
}

@media(max-width:420px) {
  .welcome__container {
    margin: 0;
  }
}

.welcome__info {
  position: relative;
  display: flex;
  flex: 1 1 440px;
  flex-direction: column;
  background-color: #030303;
  z-index: 1;
}

@media(min-width:1920px) {
  .welcome__info {
    flex: 1 1 auto;
  }
}

@media(max-width:1024px) {
  .welcome__info {
    position: absolute;
    flex: 1 1 auto;
    z-index: 11;
    background-color: transparent;
  }
}

@media(max-width:1023px) {
  .welcome__info {
    position: relative;
    flex: 1 1 auto;
    z-index: 11;
    background-color: #030303;
  }
}

.welcome__version-1920px {
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 1s;
  padding: 150px 0 0 0;
}

@media(max-width: 1330px) {
  .welcome__version-1920px {
    padding: 50px 0 0 0;
  }
}

@media(max-width: 1023px) {
  .welcome__version-1920px {
    position: relative;
    padding: 0 0 0 0;
  }
}

@media(max-width: 430px) {
  .welcome__version-1920px {
    padding: 8px 0 0 0;
  }
}

.welcome__info-hide-1920 {
  transition-duration: 1s;
  transform: translateX(-130%);
}

@media(max-width:1023px) {
  .welcome__info-hide-1920 {
    transform: translateX(-100%);
  }
}

.welcome__version-1024px {
  transform: translateX(-144%);
  transition-duration: 0.2s;
  padding: 0 0 25px 0;
}

@media(max-width:1023px) {
  .welcome__version-1024px {
    position: absolute;
    top: 0;
    left: 0;
    width: 93%;
  }
}

 @media(max-width: 800px) {   /*768px */
  .welcome__version-1024px {
    padding: 0 0 35px 0;
  } 
}

@media(max-width: 500px) {   /*420px */
  .welcome__version-1024px {
    padding: 0 0 25px 0;
  } 
}

.welcome__info-show-1024 {
  transform: translateX(0%);
  transition-duration: 1s;
}

.welcome__slide-menu {
  padding: 35px 0 0 35px;
}

@media(max-width:768px) {
  .welcome__slide-menu {
    padding: 36px 0 0 35px;
  }
}

@media(max-width:430px) {
  .welcome__slide-menu {
    padding: 35px 0 10px 35px;
  }
}

.slide-menu {}

.slide-menu__navigation {
  display: flex;
  flex-direction: column;
}

.slide-menu__item {
  position: relative;
  padding: 0 0 25px 0;
}

.slide-menu__link {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.slide-menu__arrow {
  position: absolute;
  top: 41%;
  right: 77px;
  z-index: 5;
}

@media(max-width:1024px) {
  .slide-menu__arrow {
    right: -22px;
  }
}

@media(max-width:1023px) {
  .slide-menu__arrow {
    top: 41%;
    right: unset;
    left: 115px;
    z-index: 5;
  }
}

.slide-menu__arrow::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 2px;
  height: 9px;
  background-color: #FFFFFF;
  transform: rotate(-45deg);
  margin: 0 0 5px 0;
}

.slide-menu__arrow::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 2px;
  height: 9px;
  background-color: #FFFFFF;
  transform: rotate(45deg);
  margin: 0 0 0 0;
}

.welcome__version-768px {
  position: relative;
  z-index: 2;
  margin: 0 35px;
  width: 100%;
}

@media(min-width:1024px) {
  .welcome__version-768px {
    display: none;
  }
}

@media(min-width:768px) {
  .welcome__version-768px {
    margin: 0 0 0 0;
    padding: 12px 0 0 32px;
  }
}

.welcome__wrap-768 {
  display: flex;
  flex-direction: column;
  width: 100%
}

.welcome__gallery-768 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%
}

@media(max-width:470px) {
  .welcome__gallery-768 {
    display: none;
  }
}

.welcome__image-768 {
  max-width: 100%;
  height: auto;
}

.welcome__image-768:nth-child(1) {
  grid-area: 1/1/2/3;
}

.welcome__image-768:nth-child(2) {
  grid-area: 2/1/3/2;
}

.welcome__image-768:nth-child(3) {
  grid-area: 2/2/2/3;
}

.welcome__gallery-420 {
  display: none;
}

@media(max-width:470px) {
  .welcome__gallery-420 {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 0;
  }
}

@media(max-width:430px) {
  .welcome__gallery-420 {
    margin: 0 100% 0 0;
  }
}

.welcome__image-420 {
  max-width: 100%;
  height: auto;
}

.welcome__image-420:not(:last-child) {
  padding: 0 12px 0 0;
}

.welcome__line-decor {
  width: 0;
  height: 2px;
  margin: 35px 0 35px 0;
  background-color: rgba(255, 255, 255, 0.5);
}

@media(max-width:768px) {
  .welcome__line-decor {
    margin: 31px 0 35px 0;
  }
}

@media(max-width:440px) {
  .welcome__line-decor {
    margin: 20px 0 24px 0;
  }
}
@media(max-width:430px) {
  .welcome__line-decor {
   width: 310px;
  }
}

.welcome__social-net-768 {}

@media(max-width:470px) {
  .welcome__social-net-768 {
    padding: 0 35px 0 0;
  }
}

@media(max-width:430px) {
  .welcome__social-net-768 {
    padding: 0 60px 0 0;
  }
}

@media(max-width:419px) {
  .welcome__social-net-768 {
    padding: 0;
  }
}

.welcome__navigation-768 {}

.navigation-768__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation-768__item {}

.navigation-768__item:not(:last-child) {
  margin: 0 25px 0 0;
}

@media(max-width:420px) {
  .navigation-768__item:not(:last-child) {
    margin: 0 5px 0 0;
  }
}

.navigation-768__wrap-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #666666;
  filter: drop-shadow(0px 0px 0px #666666);
  border-radius: 50px;
}

.navigation-768__icon {}

.welcome__version-420px {}

.title-section {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@media(max-width:1260px) {
  .title-section {
    font-size: 50px;
  }
}

@media(max-width:1024px) {
  .title-section {
    letter-spacing: 5px;
  }
}

@media(max-width:893px) {
  .title-section {
    line-height: 60px;
    font-size: 40px;
  }
}


@media(max-width:470px) {
  .title-section {
    line-height: 40px;
    font-size: 28px;
  }
}

.title-white {
  color: #FFFFFF;
}


.welcome__title {
  margin: 0 0 25px 0;
}

@media(max-width:1023px) {
  .welcome__title {
    text-align: center;
  }
}

.welcome__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 0 0 75px 0;
}

@media(max-width:1260px) {
  .welcome__subtitle {
    font-size: 24px;
    padding: 0 0 50px 0;
  }
}

@media(max-width:1024px) {
  .welcome__subtitle {
    white-space: nowrap;
  }
}

@media(max-width:1023px) {
  .welcome__subtitle {
    text-align: center;
    padding: 0 0 20px 0;
  }
}

@media(max-width:893px) {
  .welcome__subtitle {
    font-size: 20px;
    line-height: 23px;
  }
}

@media(max-width:768px) {
  .welcome__subtitle {
    padding: 0 0 48px 0;
    letter-spacing: 2.5px;
  }
}

@media(max-width:470px) {
  .welcome__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
}

.welcome__button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  height: 75px;
  width: 360px;
  padding: 0 64px;
  background: #710707;
  border-radius: 10px;
  transition-duration: 0.7s;
}

@media (hover: hover) and (pointer: fine) {
  .welcome__button:hover { 
    background-color: #9D8665;
    transition-duration: 0.2s;
   }
}

@media(max-width:1124px) {
  .welcome__button {
    height: 60px;
    width: 300px;
    font-size: 20px;
    line-height: 23px;
    padding: 0 45px;
    white-space: nowrap;
  }
}

@media(max-width:1023px) {
  .welcome__button {
    display: none;
  }
}

.welcome__surface-swipe {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 10;
}

@media(max-width:1024px) {
  .welcome__surface-swipe {
    z-index: 11;
  }
}

.welcome__wrap-gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
  overflow: hidden;
  transition-duration: 1s;
}

.gallery-hide {
  transform: translateX(107%);
  transition-duration: 1s;
}

.welcome__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 17%;
  height: 100%;
  background-color: #030303;
  transform: translateX(-114px) scale(2.5);
  filter: blur(24px);
  z-index: 3;
}

@media(max-width:1024px) {
  .welcome__shadow {
    width: 30%;
  }
}

@media(max-width:1023px) {
  .welcome__shadow {
    display: none;
  }
}

.welcome__gallery {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}

@media(max-width:1024px) {
  .welcome__gallery {
    width: 71.2%;
    margin: 0 0 0 29%;
  }
}

@media(max-width:1023px) {
  .welcome__gallery {
    width: 100%;
    margin: 0 0 0 0;
  }
}

.welcome__picture {
  display: none;
  position: relative;
  animation: 1s ease-in-out;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

@media(max-width:1446px) {
  .welcome__picture {
    width: 100%;
    height: auto;
  }
}

.active,
.next {
  display: block;
  width: 100%;
  height: 100%;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.welcome__control-pannel-swipe {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #030303;
  width: 620px;
  height: 120px;
  z-index: 10;
  transition-duration: 1s;
}

@media(max-width:1024px) {
  .welcome__control-pannel-swipe {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 0;
    height: 117px;
    width: 100%;
    z-index: 11;
  }
}

@media(max-width:1023px) {
  .welcome__control-pannel-swipe {
    position: relative;
    align-self: flex-end;
    justify-content: center;
    width: 100%;
    height: 120px;
  }
}

@media(max-width:768px) {
  .welcome__control-pannel-swipe {
    height: 98px;
  }
}

@media(max-width:470px) {
  .welcome__control-pannel-swipe {
    height: 80px;
  }
}

.hide-control-pannel {
  transform: translateX(-100%);
  transition-duration: 1s;
}

.pannel-swipe {}

.pannel-swipe__wrap {
  display: flex;
  align-items: center;
  height: inherit;
}

@media(max-width:1024px) {
  .pannel-swipe__wrap {
    justify-content: center;
    margin: 0 97px 0 0;
  }
}

@media(max-width:1023px) {
  .pannel-swipe__wrap {
    justify-content: flex-end;
    margin: 0 75px 0 0;
  }
}

@media(max-width:768px) {
  .pannel-swipe__wrap {
    justify-content: center;
    margin: 0 0 0 0;
  }
}


.pannel-swipe__counter {
  display: flex;
  padding: 0px 59px 0 76px;
  font-size: 19px;
}

@media(max-width:1024px) {
  .pannel-swipe__counter {
    padding: 0 47px 0 0;
  }
}

@media(max-width:470px) {
  .pannel-swipe__counter {
    padding: 0 25px 0 0;
  }
}

@media(max-width:430px) {
  .pannel-swipe__counter {
    font-size: 15px;
  }
}

.pannel-swipe__progress-counter {
  margin: 0 10px 0 0;
}

@media(max-width:430px) {
  .pannel-swipe__progress-counter{
    margin: 0 7px 0 0;
  }
}

.pannel-swipe__progress-counter::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 23px;
  width: 2px;
  background-color: #FFFFFF;
  margin: 0 0 0 10px;
}

@media(max-width:430px) {
  .pannel-swipe__progress-counter::after {
    height: 15px;
    margin: 1px 0 0 7px;
  }
}

.pannel-swipe__ammount-counter {
  margin: 0 0 0 12px;
}

@media(max-width:430px) {
  .pannel-swipe__ammount-counter {
    margin: 0 0 0 7px;
  }
}

.pannel-swipe__grafic-counter {
  display: flex;
  padding: 0 77px 0 0px;
}

@media(max-width:1024px) {
  .pannel-swipe__grafic-counter {
    padding: 0 60px 0 0;
  }
}

@media(max-width:470px) {
  .pannel-swipe__grafic-counter {
    padding: 0 25px 0 0;
  }
}

.pannel-swipe__grafic-item {
  width: 16px;
  height: 16px;
  background: #FFFFFF;
}

@media(max-width:1024px) {
  .pannel-swipe__grafic-item {
    width: 12px;
    height: 12px;
  }
}

@media(max-width:768px) {
  .pannel-swipe__grafic-item {
    width: 12px;
    height: 12px;
  }
}

@media(max-width:470px) {
  .pannel-swipe__grafic-item {
    width: 7px;
    height: 7px;
  }
}

.pannel-swipe__grafic-item:hover {
  background-color: #9D8665;
  cursor: pointer;
}

.pannel-swipe__grafic-item:not(:last-child) {
  margin: 0 25px 0 0;
}

@media(max-width:470px) {
  .pannel-swipe__grafic-item:not(:last-child) {
    margin: 0 10px 0 0;
  }
}

.recolor-active {
  background-color: #D2B183;
}

.pannel-swipe__arrows {
  display: flex;
}

.pannel-swipe__wrap-arrow-L {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 24px;
  padding: 0 33px 0 0;
}

@media(max-width:1024px) {
  .pannel-swipe__wrap-arrow-L {
    padding: 0 31px 0 0;
  }
}

@media(max-width:430px) {
  .pannel-swipe__wrap-arrow-L {
    padding: 0 10px 0 0;
  }
}

.pannel-swipe__wrap-arrow-L:hover {
  cursor: pointer;
}

.pannel-swipe__arrow-left {

}

@media(max-width:430px) {
  .pannel-swipe__arrow-left {
    width: 20px;
    height: 8px;
  }
}

.pannel-swipe__wrap-arrow-R {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 24px;
}

.pannel-swipe__wrap-arrow-R:hover {
  cursor: pointer;
}

.pannel-swipe__arrow-right {

}

@media(max-width:430px) {
  .pannel-swipe__arrow-right { 
    width: 20px;
    height: 8px;
  }
}

/*-------------------------------- carousel -------------------------------------*/
.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

.white-space {
  white-space: nowrap;
}

.break-line {
  display: none;
}

@media(max-width: 1260px) {
  .break-line {
    display: block;
  }
}

@media(max-width: 1023px) {
  .break-line {
    display: none;
  }
}

@media(max-width: 768px) {
  .break-line {
    display: block;
  }
}

.container-repadding-768 {
  padding: 0 2px 0px 20px;
}


.z-index-lower {
 z-index: 9;
}

.margin419 {
  margin: 0 0px 0 -23px;
}

.padding419 {
  padding: 0;
}

.stayte-padding-1{
  padding: 0 20px 0px 20px;
}