._container{
  box-sizing: content-box;
  max-width: 1440px;
  margin: 0px auto;
}
.wrap{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* overflow: hidden; */
  background: #FFFFFF;
  z-index: 0;
}
.background-black{
  background: #030303;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.title-gold {
  color: #9D8665;
font-family: Forum;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: 90px; /* 112.5% */
letter-spacing: 5px;
text-transform: uppercase;
}
a {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

.shadow {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  /* opacity: 0.5; */
  z-index: 4;
  /* overflow: hidden; */
}

/* .scroll-stop {
overflow: auto;
overflow-y: hidden;
}

@media(max-width:1023px){
  .scroll-stop {
  overflow: unset;
  overflow-y: unset;
  }
} */

.time-picker {
  text-align: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.plusBtn18 {

}

.minusBtn18 {

}

.plusBtn65 {

}

.minusBtn65 {

}

.countTickets18 {

}

.countTickets65 {
  
}