.explore {
}
.explore__container {
  display: flex;
  flex-direction: row;
  padding: 75px 20px;
}
@media(max-width:1140px){
  .explore__container{
   flex-direction: column;
   padding: 60px 20px;
  }
}
@media(max-width:768px){
  .explore__container{
   flex-direction: column;
   padding: 40px 20px;
  }
}
.explore__info {
  padding: 0 60px 0 0;
}
@media(max-width:1140px){
  .explore__info {
    padding: 0 0 62px 0;
  }
}
@media(max-width: 768px){
  .explore__info {
    padding: 0 0 0 0;
  }
}

.explore__title {
  white-space: nowrap;
  padding: 0 0 25px 0;
}
@media(max-width:1505px){
  .explore__title {
    white-space:normal;
    font-size: 50px;
    line-height: 60px;
    padding: 0 0 10px 0;
  }
}
@media(max-width:1140px){
  .explore__title {
    font-size: 50px;
    line-height: 75px;
    padding: 0 0 20px 0;
  }
}
@media(max-width:768px){
  .explore__title {
    font-size: 40px;
    line-height: 60px;
  }
}
@media(max-width:490px){
  .explore__title {
    font-size: 28px;
    line-height: 40px;
  }
}
.explore__line-decore{
  height: 3px;
  width:100%;
  background: #710707;
  margin: 0 0 75px 0;
}
@media(max-width:1255px){
  .explore__line-decore{
    margin: 0 0 35px 0;
  }
}
@media(max-width:1140px){
  .explore__line-decore{
    margin: 0 0 60px 0;
  }
}
@media(max-width:768px){
  .explore__line-decore{
    margin: 0 0 40px 0;
  }
}
.title-section {
}
.explore__line-about {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 38px;
padding: 0 0 25px 0;
}
@media(max-width:1140px){
  .explore__line-about {
    font-size: 20px;
    padding: 0 0 0 0;
  }
  .explore__line-about:last-child{
    display: none;
  }
}

@media(max-width:768px){
  .explore__line-about {
    display: none;
  }
}
.recolor-font{
  color:#9D8665;
}
.explore__wrap-picture {
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@media(max-width:1140px){
  .explore__wrap-picture {
    align-self: center;
    overflow: hidden;
  }
}
@media(max-width:768px){
  .explore__wrap-picture {
    width: 100%;
  }
}
.explore__before {
  position: absolute;
top: 0;
left: 0;
object-fit: none;
object-position: 0% 100%;
height: 700px;
width: 421px;
z-index: 2;
}
@media(max-width:768px){
  .explore__before {
    object-fit: cover;
  }
}
.explore__after {
position: relative;
z-index: 1;
}
@media(max-width:768px){
  .explore__after {
     width: 100%;
  }
}
.explore__slide-column {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items:center;
  top: 0;
  left: 421px;
  z-index: 3;
}
.explore__slide-column:hover{
 cursor:grab;
}
.explore__slide-column:active{
  cursor:move;
 }
.explore__line-1 {
  position: relative;
  width: 5px;
  height: 330px;
  background-color: #FFFFFF;
}
.explore__circle {
  position: relative;
  width: 40px;
  height: 40px;
  border: 5px #FFFFFF solid;
  border-radius: 50%;
}
.explore__line-2 {
  position:relative;
  width: 5px;
  height: 330px;
  background-color: #FFFFFF;
}