.visiting {}

.visiting__container {
  padding: 75px 20px;
}

@media(max-width:1024px) {
  .visiting__container {
    padding: 61px 20px 59px 20px;
  }
}

@media(max-width:900px) {
  .visiting__container {
    padding: 40px 20px 80px 20px;
  }
}

._container {}

.visiting__title {
  padding: 0 0 25px 0;
  width: 100%;
  color: #9D8665;
}

@media(max-width:1260px) {
  .visiting__title {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    padding: 0 0 22px 0;
  }
}

@media(max-width:1060px) {
  .visiting__title {
    font-size: 50px;
    line-height: 75px;
  }
}

@media(max-width:900px) {
  .visiting__title {
    font-size: 40px;
    line-height: 60px;
    padding: 0 0 20px 0;
  }
}

.visiting__line-decor {
  height: 3px;
  margin: 0 0 75px 0;
  width: 100%;
  background: #710707;
  border-radius: 0px;
}

@media(max-width:1060px) {
  .visiting__line-decor {
    margin: 0 0 60px 0;
  }
}

@media(max-width:900px) {
  .visiting__line-decor {
    margin: 0 0 40px 0;
  }
}

.title-section {}

.visiting__cards-tour {}

.visiting__card-tour {}

.card-tour {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 75px;
}

@media(max-width:1060px) {
  .card-tour {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 107px;
    grid-row-gap: 60px;
    padding: 0px 100px 0px 108px;
  }
}

@media(max-width:900px) {
  .card-tour {
    grid-column-gap: 56px;
    grid-row-gap: 40px;
    padding: 0 56px;
  }
}

@media(max-width:712px) {
  .card-tour {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 40px;
    padding: 0 50px;
  }
}

.card-tour__wrap {
  display: block;
  min-width: 100%;
}

.card-tour__wrap:nth-child(1) {
  grid-area: 1/1/2/2;
}

.card-tour__wrap:nth-child(2) {
  grid-area: 1/2/2/3;
}

.card-tour__wrap:nth-child(3) {
  grid-area: 1/3/2/4;
}

.card-tour__wrap:nth-child(4) {
  grid-area: 2/1/3/2;
}

.card-tour__wrap:nth-child(5) {
  grid-area: 2/2/3/3;
}

.card-tour__wrap:nth-child(6) {
  grid-area: 2/3/3/4;
}

@media(max-width:1060px) {
  .card-tour__wrap:nth-child(1) {
    grid-area: 1/1/2/2;
  }

  .card-tour__wrap:nth-child(2) {
    grid-area: 1/2/2/3;
  }

  .card-tour__wrap:nth-child(3) {
    grid-area: 2/1/3/2;
  }

  .card-tour__wrap:nth-child(4) {
    grid-area: 2/2/3/3;
  }

  .card-tour__wrap:nth-child(5) {
    grid-area: 3/1/4/2;
  }

  .card-tour__wrap:nth-child(6) {
    grid-area: 3/2/4/3;
  }
}

@media(max-width: 712px) {
  .card-tour__wrap:nth-child(1) {
    grid-area: 1/1/2/2;
  }

  .card-tour__wrap:nth-child(2) {
    grid-area: 2/1/3/2;
  }

  .card-tour__wrap:nth-child(3) {
    grid-area: 3/1/4/2;
  }

  .card-tour__wrap:nth-child(4) {
    grid-area: 4/1/5/2;
  }

  .card-tour__wrap:nth-child(5) {
    grid-area: 5/1/6/2;
  }

  .card-tour__wrap:nth-child(6) {
    grid-area: 6/1/7/2;
  }
}

.card-tour__image {
  width: 100%;
  height: auto;
  margin: 0 0 25px 0;
}

.card-tour__info {}

.card-tour__title {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  padding: 0 0 10px 0;
}

@media(max-width:1024px) {
  .card-tour__title {
    font-size: 25px;
    line-height: 20px;
    padding: 0 0 18px 0;
    white-space: nowrap;
  }
}

@media(max-width:712px) {
  .card-tour__title {
    font-size: 18px;
    line-height: 20px;
  }
}

.card-tour__line-decor {
  height: 2px;
  width: 300px;
  background: #710707;
  margin: 0 0 10px 0;
  transition-duration: 0.7s;
}

@media(max-width:1260px) {
  .card-tour__line-decor {
    width: 55%;
  }
}

@media(max-width:1024px) {
  .card-tour__line-decor {
    width: 150px;
  }
}

@media(max-width:1020px) {
  .card-tour__line-decor {
    width: 55%;
  }
}

.longing-line {
  width: 100%;
}

.card-tour__virt-tour {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding: 0 0 10px 0;
}

@media(max-width:1024px) {
  .card-tour__virt-tour {
    font-size: 20px;
    padding: 0 0 5px 0;
  }
}

@media(max-width:712px) {
  .card-tour__virt-tour {
    font-size: 16px;
    line-height: 19px;
  }
}

.card-tour__panorama-view {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding: 0 0 0 0;
}

@media(max-width:1024px) {
  .card-tour__panorama-view {
    font-size: 16px;
  }
}

@media(max-width:712px) {
  .card-tour__panorama-view {
    font-size: 16px;
    line-height: 19px;
  }
}