.input-date:active {
  opacity: 1;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type=date] {
  background: url("/forma-tickets/arrow.svg") #f7f9fc no-repeat 90% 50%;
}

select {
  appearance: none;
  overflow: hidden;
  background: url("/forma-tickets/arrow.svg") #f7f9fc no-repeat right;
}

#timeDate {}

.wrap-forma-ticket {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
}

@media(max-width: 1023px) {
  .wrap-forma-ticket {
    width: 100%;
  }
}

.credit-card__wrap-logo {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55px;
}

.credit-card__logo {
  display: inline-block;
  margin: 0 0 15px 0;
}

.credit-card__logo:last-child {
  margin: 0;
}

.credit-card__back-card {
  position: absolute;
  top: 30px;
  left: 110px;
  display: flex;
  justify-content: end;
  width: 360px;
  height: 211px;
  background-color: #939393;
  border-radius: 10px;
  z-index: 0;
}

.credit-card__back-subwrap {
  position: relative;
  display: inline-block;
  align-self: flex-end;
  padding: 0 20px 15px 0;
}

.credit-card__back-card::before {
  content: '';
  position: absolute;
  top: 25px;
  display: inline-block;
  height: 45px;
  width: 100%;
  background-color: #161615;
}

.credit-card__back-CVV {
  color: #161615;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.credit-card__back-CVV:nth-child(1) {
  color: #161615;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#CVC-CVV {
  display: inline-block;
  width: 75px;
  height: 35px;
  background-color: #FFF;
}

.credit-card__btn {}


.forma-tickets {
  position: relative;
  color: #030303;
  background-color: #FFF;
}

.border-1023 {}

@media(max-width: 1023px) {
  .border-1023 {
    margin: 0 30px;
  }
}

@media(max-width: 768px) {
  .border-1023 {
    margin: 0 119px;
  }
}

@media(max-width: 767px) {
  .border-1023 {
    margin: 0 30px;
  }
}

.forma-tickets__close-cross {
  position: absolute;
  top: -64px;
  right: -206px;
}

@media(max-width:1400px) {
  .forma-tickets__close-cross {
    right: -106px;
  }
}

@media(max-width:1245px) {
  .forma-tickets__close-cross {
    right: 0;
    top: -46px;
  }
}

@media(max-width:768px) {
  .forma-tickets__close-cross {
    top: -53px;
  }
}

.forma-tickets__close-cross:hover {
  cursor: pointer;
}

.forma-tickets__contaiter {
  display: flex;
  justify-content: center;
}

@media(max-width:1023px) {
  .forma-tickets__contaiter {
    flex-direction: column;
  }
}

.forma-tickets__sub-containter {
  width: 100%;
}

.forma-tickets__sub-containter:nth-child(1) {
  margin: 0 40px 0 0;
  width: 400px;
}

@media(max-width:1023px) {
  .forma-tickets__sub-containter:nth-child(1) {
    margin: 0;
  }
}

.forma-tickets__sub-containter:nth-child(2) {
  position: relative;
  border: 1px solid #030303;
  width: 530px;
}

@media(max-width:1023px) {

  .forma-tickets__sub-containter:nth-child(1),
  .forma-tickets__sub-containter:nth-child(2) {
    width: 100%;
  }
}

.forma-tickets__wrap-logo {}

.forma-tickets__title {
  color: #9D8665;
  font-family: Forum;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 0 11px 0;
}

@media(max-width:469px) {
  .forma-tickets__title {
    font-size: 32px;
  }
}

@media(max-width:420px) {
  .forma-tickets__title {
    padding: 0 0 15px 0;
  }
}



.forma-tickets__tour-to-louvre {
  color: #710707;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.forma-tickets__tour-to-louvre::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #740C11;
  margin: 0px 0 5px 0;
}

.forma-tickets__forma-tickets {
  padding: 50px 0 0 0;
}

@media(max-width:1023px) {
  .forma-tickets__forma-tickets {
    padding: 50px 0 50px 0;
  }
}

@media(max-width:768px) {
  .forma-tickets__forma-tickets {
    padding: 30px 0 50px 0;
  }
}

.forma-tickets__data-time {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
}

@media(max-width:420px) {
  .forma-tickets__data-time {
    flex-direction: column;
  }
}

.forma-tickets__wrap-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #030303;
  width: 190px;
  height: 45px;
}

@media(max-width:1023px) {
  .forma-tickets__wrap-data {
    width: 100%;
    margin: 0 28px 0 0;
  }
}

@media(max-width:420px) {
  .forma-tickets__wrap-data {
    width: 100%;
    margin: 0 0 19px 0;
  }
}

.forma-tickets__wrap-icon-forma {
  margin: 0 0 0 14px;
}

.forma-tickets__icon {}

#date {
  color: #030303;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3px 56px 0 0;
}

@media(max-width:1023px) {
  #date {
    padding: 0px 74% 0 0;
  }
}

@media(max-width:920px) {
  #date {
    padding: 0px 67% 0 0;
  }
}

@media(max-width:768px) {
  #date {
    padding: 0px 50% 0 0;
  }
}

@media(max-width:730px) {
  #date {
    padding: 0px 61% 0 0;
  }
}

@media(max-width:597px) {
  #date {
    padding: 0px 49% 0 0;
  }
}

@media(max-width:471px) {
  #date {
    padding: 0px 28% 0 0;
  }
}

@media(max-width:420px) {
  #date {
    padding: 0px 65% 0 0;
  }
}

.forma-tickets__data {
  display: inline-block;
  opacity: 1;
  width: 19px;
  height: 30px;
  margin: 0 14px 0 0;
}

.forma-tickets__wrap-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #030303;
  width: 190px;
  height: 45px;
}

@media(max-width:1023px) {
  .forma-tickets__wrap-time {
    width: 100%;
  }
}


.forma-tickets__time {
  display: inline-block;
  height: 35px;
  width: 131px;
  margin: 0 14px 0 0;
  font-size: 20px;
}

@media(max-width:1023px) {
  .forma-tickets__time {
    width: 88%;
  }
}

@media(max-width:850px) {
  .forma-tickets__time {
    width: 83%;
  }
}

@media(max-width:768px) {
  .forma-tickets__time {
    width: 78%;
  }
}

@media(max-width:471px) {
  .forma-tickets__time {
    width: 69%
  }
}

@media(max-width:420px) {
  .forma-tickets__time {
    width: 84%;
    font-size: 19px;
  }
}

.forma-tickets__wrap-setting {
  display: flex;
  align-items: center;
  width: 400px;
  height: 45px;
  border: 1px solid #030303;
  margin: 0 0 20px 0;
}

@media(max-width: 1023px) {
  .forma-tickets__wrap-setting {
    width: 100%;
  }
}

.forma-tickets__wrap-setting:last-child {
  flex-direction: column;
  margin: 0;
  padding: 10px 15px 15px 15px;
  height: auto;
}

.forma-tickets__wrap-icon {
  padding: 5px 14px 0 14px;
}

.forma-tickets__data-owner::placeholder {
  color: #030303;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.forma-tickets__entry-ticket {
  color: #9D8665;
  font-family: Forum;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  width: 100%;
}

.forma-tickets__entry-ticket::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #740C11;
  margin: 0px 0 11px 0;
}

.forma-tickets__setting-client {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.forma-tickets__setting-client:nth-child(1) {
  padding: 15px 0 18px 0;
}

.forma-tickets__setting-client:nth-child(2) {
  padding: 0 0 17px 0;
}

.forma-tickets__one-ticket-inf {
  color: #030303;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.forma-tickets__counter-tickets {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 105px;
  height: 25px;
  border: 1px solid #030303;
}

.forma-tickets__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  background-color: #030303;
  color: #FFF;
  padding: 0;
}

.minusBtn18 {}

.forma-tickets__number {

  display: inline-block;
  color: #030303;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  width: 30px;
}

.countTickets18 {}

.plusBtn18 {}

.minusBtn65 {}

.countTickets65 {}

.plusBtn65 {}

.forma-tickets__subwrap-container {
  position: relative;
  margin: 23px 28px 30px 28px;
}

@media(max-width:768px) {
  .forma-tickets__subwrap-container {
    margin: 23px 15px 30px 15px;
  }
}

.forma-tickets__title-overview {
  color: #272727;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 0 2px 0;
}

.forma-tickets__tour-to-louvre-2 {
  color: #740C11;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 0px 7px 2px;
}

.forma-tickets__result-wrap {
  display: flex;
  padding: 0 0 5px 0;
}

.tech-result-wrap {
  margin: 0 0 18px 0;
}

.forma-tickets__icon-dt {
  display: inline-block;
  margin: 0 15px 0px 2px;
}

.forma-tickets__result {
  color: #030303;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.forma-tickets__wrap-piramid {
  position: absolute;
  right: 0;
  top: 0;
}

.forma-tickets__piramid {}

@media(max-width:768px) {
  .forma-tickets__piramid {
    width: 118px;
  }
}

@media(max-width:419px) {
  .forma-tickets__piramid {
    width: 96px;
  }
}

.forma-tickets__wrap-tickets-count {}

.forma-tickets__wrap-tickets-count::after {
  content: '';
  display: inline-flex;
  background-color: #740C11;
  width: 100%;
  height: 2px;
  margin: 0 0 9px 0;
}

.forma-tickets__wrap-info-tickets {
  display: flex;
  align-items: center;
  padding: 0 0 0 2px;
}

.forma-tickets__wrap-info-tickets:first-child {
  margin: 0 0 5px 0;
}

.forma-tickets__wrap-info-tickets:last-child {
  margin: 0 0 -5px 0;
}

.forma-tickets__count-tickets {
  width: 34px;
  height: 20px;
  background-color: #030303;
  border-radius: 6px;
  color: #A4A4A3;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0 11px 0 0;
}

.forma-tickets__subwrap-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.forma-tickets__price {
  color: #030303;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.forma-tickets__wrap-total {
  display: flex;
  justify-content: space-between;
  padding: 0 0 11px 0;
}

@media(max-width:768px) {
  .forma-tickets__wrap-total {
    padding: 0 0 16px 0;
  }
}

.forma-tickets__text-total {
  color: #030303;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.forma-tickets__total {
  color: #030303;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.total-price {}

.forma-tickets__credit-card {
  position: relative;
}

@media(max-width:1023px) {
  .forma-tickets__credit-card {
    padding: 0 0 130px 0;
  }
}

@media(max-width:768px) {
  .forma-tickets__credit-card {
    padding: 0 0 93px 0;
  }
}

@media(max-width:589px) {
  .forma-tickets__credit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media(max-width:420px) {
  .forma-tickets__credit-card {
    padding: 0 0 81px 0;
  }
}

.credit-card {}

.credit-card__front-card {
  position: relative;
  width: 360px;
  height: 211px;
  background-color: #BCBCBC;
  padding: 15px 20px;
  border-radius: 2px;
  z-index: 2;
}

@media(max-width:589px) {
  .credit-card__front-card {
    margin: 0 0 25px 0;
  }
}

@media(max-width:469px) {
  .credit-card__front-card {
    width: 330px;
    height: 209px;
  }
}

@media(max-width:419px) {
  .credit-card__front-card {
    width: 280px;
    height: 175px;
  }
}

.credit-card__card-subscribe {
  color: #161615;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
  padding: 10px 0 5px 0;
}

.credit-card__card-subscribe:first-child {
  padding: 0 0 5px 0;
}

.credit-card__fieldset {
  position: relative;
}

#cardNumber {
  display: inline-block;
  width: 215px;
  height: 35px;
  background-color: #FFF;
}

@media(max-width:419px) {
  #cardNumber {
    width: 170px;
    height: 20px;
    font-size: 9px;
  }
}

#expitarionFrom {
  display: inline-block;
  background-color: #FFF;
  width: 71px;
  height: 35px;
}

@media(max-width:419px) {
  #expitarionFrom {
    width: 55px;
    height: 20px;
  }
}

#expitarionTo {
  display: inline-block;
  width: 71px;
  height: 35px;
  background-color: #FFF;
}

@media(max-width:419px) {
  #expitarionTo {
    width: 55px;
    height: 20px;
  }
}

#ownerCard {
  display: inline-block;
  width: 320px;
  height: 35px;
  background-color: #FFF;
}

@media(max-width:469px) {
  #ownerCard {
    width: 289px;
  }
}

@media(max-width:419px) {
  #ownerCard {
    width: 240px;
    height: 20px;
    font-size: 9px;
  }
}

.credit-card__wrap-logo {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55px;
}

.credit-card__logo {
  display: inline-block;
  margin: 0 0 15px 0;
}

@media(max-width:419px) {
  .credit-card__logo {
    width: 89%;
  }
}

.credit-card__logo:last-child {
  margin: 0;
}

.credit-card__back-card {
  position: absolute;
  top: 30px;
  left: 110px;
  display: flex;
  justify-content: end;
  width: 360px;
  height: 211px;
  background-color: #939393;
  border-radius: 2px;
  z-index: 0;
}

@media(max-width:768px) {
  .credit-card__back-card {
    left: 139px;
  }
}

@media(max-width:589px) {
  .credit-card__back-card {
    position: relative;
    left: 0;
    top: 0;
  }
}

@media(max-width:469px) {
  .credit-card__back-card {
    width: 330px;
    height: 209px;
  }
}

@media(max-width:419px) {
  .credit-card__back-card {
    width: 280px;
    height: 175px;
  }
}

.credit-card__back-subwrap {
  position: relative;
  display: inline-block;
  align-self: flex-end;
  padding: 0 20px 15px 0;
}

.credit-card__back-card::before {
  content: '';
  position: absolute;
  top: 25px;
  display: inline-block;
  height: 45px;
  width: 100%;
  background-color: #161615;
}

@media(max-width:419px) {
  .credit-card__back-card::before {
    height: 30px;
  }
}

.credit-card__back-CVV {
  color: #161615;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 0px 0px 10px;
}

.credit-card__back-CVV:nth-child(1) {
  color: #161615;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 0px 6px 9px;
}

#CVC-CVV {
  display: inline-block;
  width: 75px;
  height: 35px;
  background-color: #FFF;
  margin: 0px -2px 4px 0px;
}

@media(max-width:419px) {
  #CVC-CVV {
    height: 20px;
  }
}

#expitarionFrom::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.credit-card__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 220px;
  height: 45px;
  background-color: #710707;
  opacity: 0.9;
  margin: 0 28px 26px 0px;
}

@media(max-width:768px) {
  .credit-card__btn {
    margin: 0 14px 24px 0px;
  }
}

.credit-card__wrap-expiration {
  position: relative;
  display: flex;
}

.credit-card__wrap-input {
  position: relative;
  display: flex;
  width: 94px;
  height: 35px;
}

@media(max-width:419px) {
  .credit-card__wrap-input {
    width: 80px;
    height: 20px;
    font-size: 9px;
  }
}

.credit-card__wrap-input:first-child {
  margin: 0 21px 0 0;
}

.credit-card__number {
  display: inline-flex;
  color: #161615;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 0px 0 10px;
}

.credit-card__wrap-buttons {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #A4A4A3;
}

.credit-card__button {
  display: flex;
  justify-content: center;
  height: 17.5px;
  width: 27px;
  background-color: #FFFFFF;
  padding: 0;
  font-size: 0px;
}

.credit-card__button:first-child {
  align-items: end;
}

.credit-card__button:last-child {
  align-items: start;
}

.credit-card__icon {
  display: inline-block;
  padding: 2px 0;
}

#ticketType {
  position: absolute;
  opacity: 0;
  width: inherit;
}

.false-validation {
  color: red;
}