.forma-tickets__data {
  opacity: 1;
  width: 19px;
  height: 30px;

}

.input-date:active {
  opacity: 1;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type=date] {
  background: url("/forma-tickets/arrow.svg") #f7f9fc no-repeat 90% 50%;
}

/* input[type=time]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type=time] {
  background: url("/forma-tickets/time.svg") #f7f9fc no-repeat 90% 50%;
} */

select {
  appearance: none;
  overflow: hidden;
  background: url("/forma-tickets/arrow.svg") #f7f9fc no-repeat right;
}

#timeDate {}



.forma-tickets {
  color: #030303;
  background-color: #FFF;
}

.forma-tickets__contaiter {
  display: flex;
  justify-content: center;
}

.forma-tickets__wrap-logo {}

.forma-tickets__title {
  color: #9D8665;
  font-family: Forum;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 0 11px 0;
}

.forma-tickets__tour-to-louvre {
  color: #710707;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.forma-tickets__tour-to-louvre::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #740C11;
  margin: 0px 0 5px 0;
}

.forma-tickets__forma-tickets {
  padding: 50px 0 0 0;
}

.forma-tickets__data-time {
  display: flex;
  justify-content: space-between;
}

.forma-tickets__wrap-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #030303;
  width: 190px;
  height: 45px;
}

.forma-tickets__wrap-icon-forma {
  margin: 0 0 0 14px;
}

.forma-tickets__icon {}

#date {
  color: #030303;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 3px 56px 0 0;
}

.forma-tickets__data {
  display: inline-block;
  opacity: 1;
  width: 19px;
  height: 30px;
  margin: 0 14px 0 0;
}

.forma-tickets__wrap-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #030303;
  width: 190px;
  height: 45px;
}

.forma-tickets__time {
  display: inline-block;
  height: 35px;
  width: 131px;
  margin: 0 14px 0 0;
  font-size: 20px;

}


.forma-tickets__sub-containter {
  width: 100%;
}

.forma-tickets__sub-containter:nth-child(1) {
  margin: 0 40px 0 0;
  width: 400px;
  /* padding: 0 0 0 235px; */
}

.forma-tickets__sub-containter:nth-child(2) {
  border: 1px solid #030303;
  width: 530px;
  /* margin: 0 235px 0 0; */
}


.forma-tickets__subwrap-container {
  position: relative;
  margin: 30px 25px 30px 25px;
}

.forma-tickets__title-overview {
  color: #272727;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.forma-tickets__tour-to-louvre-2 {
  color: #740C11;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.forma-tickets__result-wrap {
  display: flex;
}

.forma-tickets__icon-dt {}

.forma-tickets__result {
  color: #030303;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.forma-tickets__wrap-piramid {
  position: absolute;
  right: 0;
  top: 0;
}

.forma-tickets__piramid {}

.forma-tickets__wrap-tickets-count {}

.forma-tickets__wrap-info-tickets {}

.forma-tickets__count-tickets {}

.forma-tickets__type-price-one {}

.forma-tickets__total-price {}

.forma-tickets__total {}

.forma-tickets__credit-card {
  position: relative;
}

.credit-card {}

.credit-card__front-card {
  position: relative;
  width: 360px;
  height: 211px;
  background-color: #BCBCBC;
  padding: 15px 20px;
  border-radius: 10px;
  z-index: 2;
}

.credit-card__card-subscribe {
  color: #161615;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 0 5px 0;
}

.credit-card__card-subscribe:first-child {
  padding: 0 0 5px 0;
}

.credit-card__fieldset {
  position: relative;
}

#cardNumber {
  display: inline-block;
  width: 215px;
  height: 35px;
  background-color: #FFF;
}

#expitarionFrom {
  display: inline-block;
  width: 100px;
  height: 35px;
  background-color: #FFF;
  margin: 0 15px 0 0;
}

#expitarionTo {
  display: inline-block;
  width: 100px;
  height: 35px;
  background-color: #FFF;
}

#ownerCard {
  display: inline-block;
  width: 320px;
  height: 35px;
  background-color: #FFF;
}

.credit-card__wrap-logo {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55px;
}

.credit-card__logo {
  display: inline-block;
  margin: 0 0 15px 0;
}

.credit-card__logo:last-child {
  margin: 0;
}

.credit-card__back-card {
  position: absolute;
  top: 30px;
  left: 110px;
  display: flex;
  justify-content: end;
  width: 360px;
  height: 211px;
  background-color: #939393; 
  border-radius: 10px;
  z-index: 0;
}
.credit-card__back-subwrap {
  position: relative;
display: inline-block;
align-self: flex-end;
padding: 0 20px 15px 0;
}

.credit-card__back-card::before {
  content: '';
  position: absolute;
  top: 25px;
  display: inline-block;
  height: 45px;
  width: 100%;
  background-color: #161615;
}

.credit-card__back-CVV {
  color: #161615;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.credit-card__back-CVV:nth-child(1) {
  color: #161615;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#CVC-CVV { 
  display: inline-block;
  width: 75px;
  height: 35px; 
  background-color: #FFF;
}
.credit-card__btn {}