.header {
  position:relative;
  z-index: 50;
  width: 100%;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

@media(max-width:1446px) {
  .header__container {
    padding: 0 20px;
  }
}

@media(max-width:1446px) {
  .header__container {
    height: 130px;
  }
}

@media(max-width:768px) {
  .header__container {
    height: 110px;
  }
}

.header__wrap-logo {
  display: flex;
  align-items: flex-start;
}

.header__logo {
  display: inline-block;
  margin: -1.5px 25px 0 0;
}

.header__text {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header__navigation {

}
@media(max-width:1446px) {
.header__navigation {
  display: none;
}
}
.header__navigation-list {
  display: flex;
  flex-direction: row;
}

.header__navigation-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
}

.header__navigation-item:not(:last-child) {
  margin: 0 55px 0 0;
}

.header__item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.header__wrap-burger{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 18px;
  width: 32px;
}
.header__wrap-burger:hover{
  cursor: pointer;
}
@media(min-width:1446px){
  .header__wrap-burger{
    display: none;
  }
}
.header__burger-line-1 {
  width: 32px;
  height: 2px;
  background-color: #FFFFFF;
  transition-duration: 1s;
  margin-top: 0p;
}
.header__burger-line-1_angle {
  transform: rotate(45deg);
  transition-duration: 1s;
}
.header__burger-line-2 {
  width: 32px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 6px 0;
  transition-duration: 1s;
}
.header__burger-line-2_angle {
  transform: rotate(-45deg);
  margin-top: -2.5px;
  transition-duration: 1s;
}
.header__burger-line-3 {
  width: 32px;
  height: 2px;
  background-color: #FFFFFF;
  transition-duration: 1s;
}
.header__burger-line_del {
  width: 0px;
  height: 0px;
  transition-duration: 1s;
}
